<!-- views/layouts/main.handlebars -->
<!doctype html>
<html>

<head>
    <!-- bootstrap Stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/blogs.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>




    <meta charset="utf-8">

    <title>Be Heard</title>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--This link will take you home-->
                <a class="navbar-brand" href="/">Be Heard</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                    <li><a href="/" class="box">logged In :) <span class="sr-only box">(current)</span></a></li>
                    {{else}}
                    <li><a href="/sign-up" class="box">Sign Up<span class="sr-only box">(current)</span></a></li>
                    {{/if}}
                    <li><a id="b" href="/blogs/views/world" class="box">World News <span class="sr-only box">(current)</span></a></li>

                    <li><a id="c" href="/blogs/views/community/board" class="box">Community Board</a></li>


                    <li class="dropdown">
                        <a id="d" href="#" class="dropdown-toggle box" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{#if currentUser}}
                                <li><a href="/logout">Log out</a></li>
                            {{else}}
                                <li><a href="/sign-up" class="box">Sign Up<span class="sr-only box">(current)</span></a></li>
                                <li><a href="/login" class="box">Log In<span class="sr-only box">(current)</span></a></li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        {{{body}}}
    </div>

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function() {
        $(".dropdown-toggle").dropdown();
    });

    const a = document.getElementById('a');
    const b = document.getElementById('b');
    const c = document.getElementById('c');
    const d = document.getElementById('d');
    const buttons = [a, b, c, d];

    function clearBtns() {
        buttons.forEach(function(btn) {
            btn.classList.remove('selected');
        });
    }


    a.onclick = function(e) {
        clearBtns();
        a.classList.toggle('selected');
    }

    b.onclick = function(e) {
        clearBtns();
        b.classList.toggle('selected');
    }

    c.onclick = function(e) {
        clearBtns();
        c.classList.toggle('selected');
    }

    d.onclick = function(e) {
        clearBtns();
        c.classList.toggle('selected');
    }
    //
    // d.onclick = function(e) {
    //   clearBtns();
    //   d.classList.toggle('selected');
    // }
</script>
<style media="screen">
    .box.selected {
        border: 1px solid rgba(0, 0, 0, 0.25);
    }
</style>

</html>
