
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Political Blog</title>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

</head>

<body>

    <!-- views/blogs-index.handlebars -->
    <h1>Blogs</h1>
    <div class="container">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                {{#each blogs}}
                    <h1 class="display-4 font-italic">{{this.title}}</h1>
                    <p class="lead my-3">{{this.reviewText}}</p>
                    <p class="lead mb-0"><a href="/blogs/view/{{this._id}}" class="text-white font-weight-bold">Continue reading...</a></p>
                {{/each}}
            </div>
        </div>


                </aside><!-- /.blog-sidebar -->

            </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">

        <a href="#">Back to top</a>
        </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>

</html>
