<!-- views/blogs-new.handlebars-->

<form method="POST" action="/blogs/view/{{blog._id}}">

    {{> blogs-form}}

    <!-- BUTTON -->
    <p>
      <button type="submit">Save Review</button>
    </p>

  </form>
