<!-- views/blogs-edit.handlebars -->

<form method="POST" action="/blogs/view/{{blog._id}}?_method=PUT">
    {{> blogs-form}}
    <!-- BUTTON -->
    <p>
        <button type="submit"  class="btn btn-primary btn-sm">Save Event</button>
    </p>
</form>
<form method="GET" action="/">
    <button type="cancel" class="btn btn-primary btn-sm">Cancel</button>
 </form>
