<div class="back">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Be Heard!</h1>
        <p class="lead">Together we have the ability to change America one event at a time.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/blogs/views/community/board" role="button">Do Something Today</a>
    </div>
    <div>
